@import url("https://marksheet.io/css/reset.css");

.container {
    width: 100%;
    max-width: 1024px;
    padding: 0 15px;
    margin: 0 auto;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display:flex;
}
footer>nav{
    display:flex;
}
.row{
    flex-direction: :row;
}
.column{
    flex-direction: :column;
}
