/* Импорт стилей, шрифтов и иконок */
/* Сброс CSS */
@import url("https://marksheet.io/css/reset.css");


/* Базовые стили */
html {
    height: 100%;
}
body {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
h1 {
font-size: 2.4em;

padding: .8em 0 1.2em 0;

}
h2 {
font-size: 2.2em;

padding: .8em 0 1.0em 0;

}
h3 {
font-size: 2.0em;

padding: .8em 0 .8em 0;

}
h4 {
font-size: 1.8em;

padding: .8em 0 .6em 0;

}
h5 {
font-size: 1.6em;

padding: .8em 0 .4em 0;

}
h6 {
font-size: 1.4em;

padding: .8em 0 .2em 0;

}
.container {
    display: flex;
    width: 100%;
    max-width: 1024px; /*максимальная ширина может иметь другое значение*/
    margin: 0 auto;
}
.button {
    padding: 20px 30px;
    margin: 10px 20px;
    text-decoration: none !important;
    background-color: #999;
    border-radius: 5px;

}
.button:hover {
background-color: #888;

}

/* Предустановки */
.row {
    display: flex;
    flex-direction: row;
}
.column {
    display: flex;
    flex-direction: column;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img{
    width:100%;
    max-width: 100%;
}

.col-1{
    flex:1;
}

.col-2{
    flex:2;
}


.col-3{
    flex:3;
}

.col-4{
    flex:4;
}

.col-5{
    flex:5;
}

.col-6{
    flex:6;
}
@media(max-width:100%){
    .conteiner{
        flex-direction: column;
    }
}
.b-right {
border-right: 1px solid #e5e5e5;

}

.b-left {
border-left: 1px solid #e5e5e5;

}

.b-top {
border-top: 1px solid #e5e5e5;

}

.b-bottom {
border-bottom: 1px solid #e5e5e5;

}





/* Шапка сайта */
header {

    flex: 0 0 auto;
    display:flex;
    background-color: #000;
    height: 100px;
    color: #fff;

}
hader a,
footer a {color:#fff;
    text-decoration:none;
}
header.logo{
    width 100px


}
header > duv.container{
    height: 100%;
	align-items: center;
}
header ul li{
    margin: 20px;
}


/* Основное содержимое */

main {
    display:flex;
    flex: 1 0 auto;
    background-image: url("/site/images/lop.jpg");
    background-color: #e5e5e5;
    background-position: center, center;
    background-size: cover;
}
main > div .container {
    flex: 1 0 auto;
    background-color: #fff;
}

aside {
    flex: 1 0 auto;
    padding:0 15px
}
section {
    flex: 3 0 auto;
    padding:0 15px
}
aside {
    flex: 1 0 auto;
    padding:0 15px
}
aside a {
    color: #000;
    text-decoration: none;
}
aside a:hover {
 text-decoration: undeline;

}

aside li {
 line-height: 1.5em;

}


/* Подвал сайта */
footer {
    flex: 0 0 auto;
	background-color: #000;
	height: 200px;
    color: #fff;
}
footer > duv.container{
    height: 100%;
    padding: 10px 0;
}
footer nav ul{
    margin-right: 30px;
}
footer li {
line-height: 2em;
}
hader a,
footer a {color:#fff;
    text-decoration:none;
}
header a:hover,
footer a:hover {
    text-decoration:underline;
}
