@import url("https://marksheet.io/css/reset.css");


/* Базовые стили */
html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family:Verdana,sans-serif;
    font-size:12px
}


.container {
    display: flex;
    width: 100%;
    max-width: 1024px; /*максимальная ширина может иметь другое значение*/
    margin: 0 auto;
}

/* Предустановки */
.row {
    flex-direction: row;
}
.column {
    flex-direction: column;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
strong{
    font-weight: bold
}
.block{
    display: flex;
    width: 100%;
    margin: 0 auto;
}


.col-1{
    flex:1;
}

.col-2{
    flex:2;
}


.col-3{
    flex:3;
}

.col-4{
    flex:4;
}

.col-5{
    flex:5;
}

.col-6{
    flex:6;
}

}

/* Шапка сайта */
header {

    flex: 0 0 auto;
    
}

/* Основное содержимое */


.moon{
    flex:1 0 auto
}
.adventages{
     flex:1 0 auto
}
.content{
     flex:1 0 auto
}

/* Подвал сайта */
footer {
    flex: 0 0 auto;
	
}
